In [1]:
# Importing libraries

import pandas as pd

In [2]:
# creating path

path = r'C:\Users\nikik\achievement 6\boat_data.csv'

In [3]:
# imoirting datafile
df = pd.read_csv(path)

In [4]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [5]:
#Renaming columns
df.columns = [col.replace('\n', ' ').strip() for col in df.columns]

df.rename(columns={'Year Built': 'Year', 'Number of views last 7 days': 'Number of views'}, inplace = True)

In [6]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year', 'Length', 'Width',
       'Material', 'Location', 'Number of views'],
      dtype='object')

In [7]:
# Missing values
df.isna().sum()

Price                 0
Boat Type             0
Manufacturer       1338
Type                  6
Year                  0
Length                9
Width                56
Material           1749
Location             36
Number of views       0
dtype: int64

In [9]:
# filling the missinhg values using median
df["Length"].fillna(df["Length"].median(), inplace=True)
df["Width"].fillna(df["Width"].median(), inplace=True)

In [10]:
# replacing missing values with unknown
df["Manufacturer"].fillna("Unknown", inplace=True)
df["Material"].fillna("Unknown", inplace=True)

In [11]:
# checking for duplicate 
df.duplicated().sum()

0

# No duplicates were found

In [14]:
# Remove currency symbols and text from the Price column
df['price_clean'] = (df['Price'] .str.replace(r"[A-Z]{3}", "", regex=True).str.strip())

In [15]:
#Convert cleaned price column to numeric
# Invalid values will be converted to NaN
df['price_clean'] = pd.to_numeric(df['price_clean'], errors='coerce')

In [16]:
df[['Price', 'price_clean']].head()

       Price  price_clean
0   CHF 3337       3337.0
1   EUR 3490       3490.0
2   CHF 3770       3770.0
3  DKK 25900      25900.0
4   EUR 3399       3399.0

In [17]:
df.describe()

              Year       Length        Width  Number of views   price_clean
count  9888.000000  9888.000000  9888.000000      9888.000000  9.590000e+03
mean   1893.192860    11.568843     3.519047       149.160801  3.068174e+05
std     460.201582     6.000213     1.217156       151.819752  9.919208e+05
min       0.000000     1.040000     0.010000        13.000000  3.300000e+03
25%    1996.000000     7.470000     2.550000        70.000000  4.300000e+04
50%    2007.000000    10.280000     3.330000       108.000000  9.400000e+04
75%    2017.000000    13.920000     4.250000       172.000000  2.490000e+05
max    2021.000000   100.000000    25.160000      3263.000000  3.100000e+07

In [18]:
# Define file paths for cleaned data
cleaned_data = r'C:\Users\nikik\achievement 6\boat_data_cleaned.csv'
df.to_csv(cleaned_data, index = False)

In [21]:
# Read the cleaned dataset from the defined output path
df_cleaned = pd.read_csv(cleaned_data)

In [22]:
# Display the first few rows to verify the cleaned data
df_cleaned.head()

,Price,Boat Type,Manufacturer,Type,Year,Length,Width,Material,Location,Number of views,price_clean
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,3337.0
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,3490.0
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,3770.0
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,Denmark Â» Svendborg,64,25900.0
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,3399.0